
<div class="content">

    <div class="staticPage">
        <h2>About the Shop</h2>
        <hr>

        <p>We welcome you in our store</p>
        <p>We have a huge selection of flowers and other gifts that will bring a huge amount of positive emotions to your dear people.  The main goal for us is to make people happy, make them smile and enjoy the present. If you want to make a wonderful present, you found the best company.</p>

        <p>Did you know that the best way to make a girl fall in love is to make her smile? We guarantee that all our customers remain very satisfied and will certainly use our services again. Do not hesitate, call us and feel free to ask any question. Our staff will always help you choose the best gift that surely appreciate your dear person. We are ready to create a unique presents on the individual order!</p>

        <h3>Why you should use our service?</h3>

        <div class="withImg">
            <ul>
                <li>
                    <p>We have a huge selection of flowers and other gifts.</p>
                </li>
                <li>
                    <p>Highly qualified staff will always help you choose the best gift based on your wishes.</p>
                </li>
                <li>
                    <p>Your order will always be delivered straight to the recipient and on time.</p>
                </li>
                <li>
                    <p>In our store you will find gifts for any budget.</p>
                </li>
                <li>
                    <p>Team of creative florists is ready to surprise you and your loved ones with unique floral masterpieces.</p>
                </li>
                <li>
                    <p>There are a wide range of gifts in our store which would be an effectively addition to your congratulations!</p>
                </li>
            </ul>
        </div>

        <p>&nbsp;</p>
        <p>A bouquet of flowers is a wonderful gift for a celebration! But in order to please a loved one person it does not necessarily to look for a reason. Give happiness and positive emotions just today! And we are always glad to help you make someone happy!</p>
        <br>
    </div>

</div>
