<div class="content">
    <div class="staticPage">
        <h2>Delivery</h2>
        <hr>

        <p>First of all, our company works for customers. Our main goal is to deliver the order to the recipient in the shortest possible time, convenient time and place for the recipient. Delivery can be made to the home address, work address, to the hotel, to the restaurant. Also we can make the delivery without an address - by the preliminary phone call to the recipient.</p>

        <h3>Delivery in Ukraine</h3>

        <p>
            Delivery is carried out from 9:00 am - 21:00 pm every day (seven days a week). Orders are accepted 6 days a week, except Sunday.
        </p>

        <p>Deliveries for today are taken until 4 pm this day. We recommend you to pay as soon as possible (We prefer you making your orders before afternoon). If the payment came too late (the evening of your recipient’s time) we will have to move the delivery of your order to the next day.</p>

        <h2>Order payment </h2>
        <hr>

        <p>This page contains all payment methods available in our store. Page is for informational purposes and is designed so that you can see the list of possible payment options. To pay by any of these methods you can after order placement.</p>

        <h3>Payment by card on-line</h3>
        <ul class="blockList">
            <li>
                <img src="@Url.Content("/files/design/payment.png")">

                <div>
                    <div class="title">Payment with VISA, MC, Privat24 (through the service of Privatbank) </div>

                    <p>Payment service accept Visa and MasterCard. Accepted cards of all banks. For customers of PrivatBank opened the possibility to pay via Privat24.</p>

                    <p>There are other payment system as Western Union, Money Gramm, Ria. For all the information contact with our manager.</p>



                    <span class="gray"></span>
                </div>
            </li>
        </ul>

        <div class="infoBox">
            <h3>Contacts</h3>
            <strong>+38(063)854-75-79</strong><br />
            <span>whatsApp<img src="~/Files/design/whatsApp.png" width=25 height=25 /> ocean-of-gifts</span><br />
            <span>skype<img src="~/Files/design/skype.png" width=20 height=20 /> ocean-of-gifts</span><br />
            <div class="email">email: <img src="~/Files/design/gmail.png" width=20 height=20 /> ocean.of.giftsss@gmail.com</div>
        </div>
    

    <p>&nbsp;</p>
    <p>Thank you for being with us!</p>
</div>
</div>
