<div class="content">
    <style type="text/css">
        .staticPage {
            padding-bottom: 70px;
        }

            .staticPage h2 {
                font: 30px "trebuchet ms",helvetica,sans-serif;
                font-weight: bold;
                text-decorate: underline;
                color: #006d84;
            }

            .staticPage h3 {
                font: 24px "trebuchet ms",helvetica,sans-serif;
                font-weight: bold;
                margin: 18px 0;
                padding: 0 20px;
                font-weight: normal;
            }

            .staticPage p {
                font-size: 20px;
                line-height: 28px;
                font-family: "Times New Roman";
                padding: 7px 50px 7px 20px;
                text-align: justify;
            }

            .staticPage span.sm {
                font-size: 16px;
            }

            .staticPage span.md {
                font-size: 18px;
            }

            .staticPage span.gray {
                color: #777;
            }

            .staticPage span.darkGray {
                color: #444;
            }

            .staticPage span.i {
                font-style: italic;
            }

            .staticPage span.b {
                font-weight: bold;
            }

            .staticPage h2 + hr {
                color: #999;
                width: 98%;
                margin: -10px 0px 25px;
            }

            .staticPage p + h3 {
                margin-top: 28px;
            }

            .staticPage ul {
                font-size: 18px;
                line-height: 26px;
                font-family: "Times New Roman";
                list-style: square;
                margin: 10px 20px;
            }

            .staticPage .note {
                display: inline-block;
                background: #eee;
                margin: 15px 30px;
                padding: 7px 20px;
                font-style: italic;
                font-size: 14px;
                font-family: Arial;
                color: #444;
                box-sizing: border-box;
            }

            .staticPage ul.blockList {
            }

                .staticPage ul.blockList li {
                    border: 1px solid #eee;
                    display: block;
                    background: #f9f9f9;
                    ;
                    margin: 20px 0;
                    padding: 15px 15px 15px 170px;
                }

                    .staticPage ul.blockList li > img {
                        float: left;
                        margin-left: -165px;
                    }

                    .staticPage ul.blockList li .title {
                        font-weight: bold;
                        padding-bottom: 25px;
                    }

                    .staticPage ul.blockList li p {
                        padding-left: 0;
                    }
    </style>

    <div class="staticPage">
        <h2>Feedback</h2>
        <hr>

        <p>
            For any questions, suggestions, requests you can contact us at our 
            email address <img src="~/Files/design/gmail.png" width=20 height=20 />
            ocean.of.giftsss@gmail.com or write to us at the numbers listed below:
        </p>
        <ul>
            <li>
                +38(063)854-75-79 <img src="~/Files/design/whatsApp.png" width=25 height=25 /> WhatsApp
            </li>
            <li>
                +38(063)854-75-79 <img src="~/Files/design/skype.png" width=20 height=20 /> Skype
            </li>
            <li>
                +38(063)854-75-79 <img src="~/Files/design/viber.png" width=25 height=25 />  Viber
            </li>
        </ul>
        <p>&nbsp;</p>
        <p>Thank you for being with us!</p>
    </div>
</div>
