<div class="content">
    <div class="staticPage">
        <h2>Feedback</h2>
        <hr>

        <p>
            For any questions, suggestions, requests you can contact us at our 
            email address <img src="~/Files/design/gmail.png" width=20 height=20 />
            ocean.of.giftsss@gmail.com or write to us at the numbers listed below:
        </p>
        <ul>
            <li>
                +38(063)854-75-79 <img src="~/Files/design/whatsApp.png" width=25 height=25 /> WhatsApp
            </li>
            <li>
                +38(063)854-75-79 <img src="~/Files/design/skype.png" width=20 height=20 /> Skype
            </li>
            <li>
                +38(063)854-75-79 <img src="~/Files/design/viber.png" width=25 height=25 />  Viber
            </li>
        </ul>
        <p>&nbsp;</p>
        <p>Thank you for being with us!</p>
    </div>
</div>
