<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    <script src="//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.js"></script>
    <link href="//rawgithub.com/indrimuska/jquery-editable-select/master/dist/jquery-editable-select.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/lib/cleanStyle.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/mainStyle.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  

    <title>@ViewBag.Title</title>
</head>
<body class="m-1 p-1">
    <div class="bg-info p-2 row">
        <div class="col">
            <h4>@ViewBag.Title</h4>
        </div>
        <div class="col-2">
            <a class="btn btn-sm btn-primary"
               asp-action="Logout" asp-controller="Account">Log  Out</a>
        </div>
    </div>

    @if (TempData["message"] != null)
    {
        <div class="alert alert-warning">@TempData["message"]</div>
    }

        <div id="mainAdm">
            <div class="btn-up" onclick="$('html, body').animate({ scrollTop: 0 }, 'slow');"></div>
            <div class="sidebar">
                <div class="sidenavAdm">
                    <div class="title">Catalog</div>
                    <ul>
                        @await Component.InvokeAsync("CategoryNavigation")
                    </ul>
                </div>
            </div>
            <div class="content">
                @RenderBody()
            </div>
        </div>
</body>
</html>
