<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/lib/cleanStyle.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/mainStyle.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Store</title>
</head>
<body>
    <div id="wrapper">
        <div class="text-block"></div>
        <div id="headeri">
            <div class="container">
                <div class="logo-box">
                    <div class="logo">
                        @*<a href="" onclick="jQuery.cookie('langbtnpushed', 1, {domain: '.flowers.ua'});">
                            </a>*@
                    </div>
                </div>
                <div class="box">
                    <div class="tel-box">
                        <div class="title">Contacts</div>
                        <div class="tel-wrap">
                            @*<div class="tel">*@
                            <strong>+38(063)854-75-79</strong><br />
                            <div class="infoBox">
                                <span>whatsApp<img src="~/Files/design/whatsApp.png" width=25 height=25 /> ocean-of-gifts</span><br />
                                <span>skype<img src="~/Files/design/skype.png" width=20 height=20 /> ocean-of-gifts</span><br />
                            </div>
                        </div>
                        
                        <div class="email"><img src="~/Files/design/gmail.png" width=20 height=20 /> ocean.of.giftsss@gmail.com</div>
                    </div>
                </div>
            </div>
            <ul id="nav">
                <li>
                    <a asp-route="about" title="About the shop" rel="nofollow">
                        <span>About the shop</span>
                    </a>
                </li>
                <li>
                    <a asp-route="delivery" title="Delivery and payment" rel="nofollow">
                        <span>Delivery and payment</span>
                    </a>
                </li>
                <li>
                    <a href="" class="disabled">
                        <span>Photogallery</span>
                    </a>
                </li>
                <li>
                    <a asp-route="feedback" class="disabled">
                        <span>Feedback</span>
                    </a>
                </li>
            </ul>
        </div>

        <div id="main">
            <div class="btn-up" onclick="$('html, body').animate({ scrollTop: 0 }, 'slow');"></div>
            <div class="sidebar">
                <div class="sidenav">
                    <div class="title">Catalog</div>
                    <ul>
                        @await Component.InvokeAsync("NavigationMenu")
                    </ul>
                </div>
            </div>
            <div class="content">
                @RenderBody()
            </div>
        </div>

        <div id="footer">
        </div>
    </div>
    <script src="~/lib/js/zoomImage.js"></script>
</body>
</html>
