@model Cart
@if (Model.Lines.Count() > 0)
{
    <a class="basket" asp-controller="Cart" asp-action="Index"
       asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        @*<b>Your cart:</b>*@
        <span id="ci_count">@Model.Lines.Sum(x => x.Quantity)</span>
        @*@Model.ComputeTotalValue().ToString("c")*@
    </a>
}
else
{
    <a class="basket" asp-controller="Cart" asp-action="Index"
       asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <span id="ci_count">0</span>
    </a>
}




