@model IEnumerable<string>
@*<a class="btn btn-block btn-secondary"
           asp-action="List"
           asp-controller="Product"
           asp-route-category="">
            Home
        </a>
        @foreach (string category in Model)
        {
        <li>
            <a class="btn btn-block
               @(category == ViewBag.SelectedCategory ? "btn-primary": "btn-secondary")"
               asp-action="List"
               asp-controller="Product"
               asp-route-category="@category"
               asp-route-productPage="1">
                @category
            </a>
        </li>
    }*@
<li>
    <a class="tab" 
       asp-action="List"
       asp-controller="Product"
       asp-route-category="">
        <span style="font-weight:bold;">
            Home
        </span>
    </a>
</li>
@foreach (string category in Model)
{
    <li>
        <a class="tab"
           asp-action="List"
           asp-controller="Product"
           asp-route-category="@category"
           asp-route-productPage="1">
            <span style="">
                @category
             </span>
            </a>
    </li>
}
